php:
	date.timezone: Europe/Prague


parameters:

	databasePath: null


extensions:
	- Kdyby\Console\DI\ConsoleExtension
	- Kdyby\Events\DI\EventsExtension
	- Kdyby\Annotations\DI\AnnotationsExtension

	addressable: Carrooi\Addressable\DI\AddressableExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension


nette:
	session:
		autoStart: false


services:

	cacheStorage:
		class: Nette\Caching\Storages\MemoryStorage


	- CarrooiTests\AddressableApp\Model\Facades\Users


doctrine:

	driver: pdo_sqlite
	path: %databasePath%
	memory: true

	metadata:
		CarrooiTests\AddressableApp\Model\Entities: %appDir%/Model/Entities
